# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars
*.auto.tfvars
override.tf
override.tf.json

# SSH keys
*.pem
*.key
id_rsa
id_rsa.pub

# OS
.DS_Store
Thumbs.db

# IDE
*.iml
.idea/
